.result-container {
	margin: 30px 0px 10px 0px;
}

#result-list {
	padding-left: 0px;
	list-style: none;
	color: black;
	a {
		text-decoration: none;
		color: inherit;
	}
	li {
		position: relative;
		background-color: white;
		display: block;
		padding: 1px 5px 5px 30px;
		margin: 10px 0px;
		list-style-type: none;
		border: none;
	}
	li:hover {
		border: {
			style: none;
			left: 5px solid $accent-color;
		}
		margin-left: -5px;
	}
}

.del {
	float: right;
	padding: 2px 4px;
	transition: opacity 0.3s;
	margin-top: 3px;
	
	&:hover {
		background-color: rgba(100,100,100,.5);
	}
}